<div class='container'>
  <h1><%= @list.name %> ðŸŽ¥</h1>
  <% @list.bookmarks.each  do |bookmark|%>
    <div class="card-product">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %> </h2>
        <p> <%= bookmark.comment %></p>
        <br>
        <%= link_to 'ðŸ—‘ï¸', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
      </div>
    </div>
  <% end%>
</div>
<div class='container'>
  <br>
  <%= link_to "Add new Movie",  new_list_bookmark_path(@list), class: 'btn btn-flat' %>
  <div>
